* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  line-height: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(150, 145, 218);
  display: flex;
}
.earth--logo{
  height: 35px;
  width: 30px;
  margin-right: 10px;
}
.logo{
  padding-top: 20px;
}

/* card */
.card{
  margin: 40px;
  box-shadow: #0d1105;
}
.card--container{
  display: flex;
}
.card--img{
  box-shadow: 10px 10px lightblue;
  border-radius: 30px;
  height: 300px;
  width: 400px;
}
.card--details{
  
  margin-left: 40px;
  word-wrap:break-word;
  
}
.locate{
  height: 20px;
  margin-right: 5px;
  /* margin-top: 5px; */
}
.mapp{
  margin-left: 15px;
  color: grey;
}
.journeyDate{
  margin-bottom: 3px;
  margin-top: 20px;
  font-weight: bolder;
}
.card--title{
  margin-top: 7px;
}
/* footer */
.foo{
  margin-bottom: 0;
  background-color: black;
}
.foo--p{
  text-align: center;
  color: #fff;
}